@charset "utf-8";
.c-title{
  font-size: 4.375rem;
  margin-bottom: 3.125rem;
  font-family: suit-regular;
}
.c-container{
  width: 90vw;
  height: 100vh;
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 7.5rem 0;
  position: relative;
}
.copyright{
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}