@charset "utf-8";

.m-title {
  font-size: 4.375rem;
  margin-bottom: 3.75rem;
  font-family: SUIT-Regular;
}

.m-container {
  width: 90vw;
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 7.5rem 0;
}

.projects-wrapper {
  width: 100%;
  margin: 0 auto;
}

.project-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-section {
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s;
  font-family: Pretendard-regular;
}

.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}

.project-content {
  padding: 1.25rem;
  text-align: left;
  position: relative;
}

.m-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.m-description {
  font-size: clamp(1.2rem, 1.5vw, 1.2rem);
  color: #555;
  margin-bottom: 0.625rem;
  line-height: clamp(1.5rem, 1.5vw ,2rem);
}

.detail-button {
  background: transparent;
  color: #353535;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #353535;
  font-family: Pretendard-Regular;
}

.detail-button:hover {
  background: #353535;
  color: #Fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 10;
}

.modal-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-image {
  width: 80vw;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.3s ease-in-out;
}

.button-section{
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 939px) {
  .m-container {
    padding: 3.75rem 0;
  }

  .m-title {
    text-align: center;
  }

  .project-section {
    width: 100% !important;
    overflow: visible !important;
  }

  .projects-wrapper {
    width: 90%;
  }

  .detail-button {
    margin-bottom: 1.875rem;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  }

  .m-description {
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  }
}

@media (max-width: 450px) {
  .m-title {
    font-size: 3.125rem;
  }

  .m-name {
    font-size: 1.125rem;
  }

  .m-description {
    font-size: clamp(0.7rem, 1.5vw, 1.2rem);
  }
}
@media (max-width: 534px){
  .button-section{
    display: grid;
    gap: 1rem;
  }
  .detail-button{
    margin-bottom: 0;
  }
  .detail-button:last-child{
    margin-bottom: 1.875rem;   
  }
}